@namespace Fomantic
@using Fomantic.Blazor.UI
@inherits TextBase

@RenderBeforeRootElementFragments()
<span @ref="RootElement" @attributes='GetRootElementAttributes()' class="@CssClass">
    @RenderBeforeContentFragments()
    <CascadingValue Name="Parent" Value="this">
        @ChildContent
    </CascadingValue>
    @RenderAfterContentFragments()
</span>
@RenderAfterRootElementFragments()