@namespace Fomantic
@using Fomantic.Blazor.UI
@inherits SegmentGroupBase

@RenderBeforeRootElementFragments()
<div @ref="RootElement" @attributes='GetRootElementAttributes()' class="@CssClass">
    <CascadingValue Value=this IsFixed="true">
        @RenderBeforeContentFragments()
        <CascadingValue Name="Parent" Value="this">
            @ChildContent
        </CascadingValue>
        @RenderAfterContentFragments()
    </CascadingValue>
</div>
@RenderAfterRootElementFragments()